node_modules/
.next/
.next-e2e/
/.next*/
out/
coverage/
test-results/
/test-results*/
playwright-report/
/playwright-report*/
.env*
!.env.example
*.tsbuildinfo
supabase/.temp/
supabase/.branches/
.vercel/
*.log
